/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

li {
    list-style: none;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

.button-magnifying-glass-logo {
    display: none;
    border-radius: 15px;
    background-color: var(--main-color);
}

.fa-magnifying-glass{
    color: white !important;
}

/**********HEADER**********/
/*logo, nav bar*/
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 79px;
}

#logo {
    height: 19px;
    padding: 30px 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 50%;
    padding-left: 50px;
    gap: 68px;
}

.navitem{
    display: flex;
    padding-top: 16px;
    border-top: 2px transparent solid;
}

.navitem:hover{
    color:#0065FC;
    border-top: 2px #0065FC solid;
}

/**********INFOGROUP**********/
/*title, hookline, searchbar, filters, hintline*/
.infogroup {
margin: 30px 0 35px 0;
}

.infogrouptitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.searchbar {
    display:flex;
    height: 50px;
    width: 377px;
    align-items: center;
    margin-top: 35px;
}

.fa-location-dot {
    display:flex;
    max-height: 18px;
    max-width: 14px;
    padding: 17px 19px 17px 19px;
    color: black !important;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

form {
    display:flex;
}

input {
    border-radius: 0%;
    height: 48.4px;
    width: 193.4px;
    margin: 0;
    padding: 0;
    border: 1px #F2F2F2 solid;
    font-size: 18px;
    font-weight: 700;
}

::placeholder {
    opacity: 1;
    color: black;
    text-align: center;
}

button {
    background-color: #0065FC;
    height: 50px;
    width: 132px;
    padding: 15px 16px 15px 16px;
    border: 1px #0065FC solid;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.filters {
    display:flex;
    align-items: center;
    margin: 35px 0;
}

.filtersbar {
    display:flex;
    gap: 0 15px;
    height: 50px;
}

.filters h2 {
    font-size: 18px;
    margin-right: 15px;
}

.filtersitem {
    display: flex;
    align-items: center;
    border: 2px #D2D2D2 solid;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    height:100%;
    padding: 0 19px;
    box-sizing: border-box;
}

.filtersitem i {
    font-size: 22px;
    width: 22px;

}

.filtersitem a{
    margin-left: 10px;
    white-space: nowrap;
}

.filtersitem:hover {
    background-color: #DEEBFF;
}
.hintline {
    display: flex;
    align-items: center;
}

.fa-info::before {
    border: 1px #D2D2D2 solid;
    border-radius: 25px;
    padding: 4px 7px 4px 7px;
    margin-right: 10px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    margin: 0;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 240px;
    height: 197px;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    height: 64px;
    margin: 9px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin: 0;
    padding-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.hebergements-cards .card-rating {
    margin-top: 5px;
}

.section-footer {
    font-size: 18px;
    margin-top: 30px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**********ACTIVITES**********/
/*activités cards*/
.activites {
    width: 100%;
    height: 559px;
    margin-top: 35px;
    padding: 30px;
    box-sizing: border-box;
}

.activites-title {
    padding-bottom: 30px;
}

.activites-cards a {
    width: 25%;
    height: 439px;
}

.activites-cards {
    display:flex;
    gap: 30px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    display: flex;
    align-items: center;
    padding-left: 19px;
    height: 59px;
}

/**********FOOTER**********/
/*nav lists*/

footer {
    display: flex;
    background-color: var(--main-bg-color);
    width: 100%;
    height: 163px;
    margin-top: 35px;
}

.footer-list h3 {
    font-size: 18px;
}

.footer-list {
    width: 33.33%;
    padding: 20px 0 0 20px;
}

.nav-footer-item {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        display:flex;
        flex-direction: column;
        align-items: start;
    }

    .filters h2 {
        padding-bottom: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    section.hebergements {
        width: 100%;
    }

    section.populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        height: 390px;
    }

    .activites-cards a {
        height: 270px;
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
        margin: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        height: auto;
    }

    #logo {
        width: 60px;
    }

    .navbar {
        width: 100%;
        height: 36px;
        padding: 0;
        gap: 0;
    }

    .navitem {
    width: 50%;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 15px;
    border-top: none;
    border-bottom: 2px var(--main-bg-color) solid;
    }

    .navitem:hover {
        border-top: none;
        border-bottom: 2px var(--main-color) solid;
    }

    .infogroup {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px;
    }

    .infogrouptitle h1 {
        font-size: 22px;
    }

    .searchbar {
        display: flex;
        width: 100%;
    }

    .button-magnifying-glass-logo {
        display: initial;
        color: white;
        margin-left: -15px;
        width: 50px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    input {
        width: 100%;
    }

    form {
        width: auto;
    }

    .button-nav {
        display: none;
    }

    .filters {
        width: 100%;
    }

    .filtersbar{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        gap: 20px 0;
        justify-content: space-between;
    }

    .filtersitem {
        width: 49%;
        height: 50px;
    }

    .filtersitem a {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    section.populaires {
        padding: 30px 20px;
        border-radius: 0px;
        margin-top: 0;
    }

    section.hebergements {
    padding: 20px;
    background-color: white;
    border-radius: 0px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-cards .card {
        width: 100%;
        box-sizing: border-box;
        margin-top: 0;
    }

    .hebergements-cards a {
        width: 100%;
        margin-top: 15px;
    }

    .activites-cards {
    flex-direction: column;
    gap: 15px;
    }
    
    .activites-cards a {
        width: 100%;
        height: 200px;
        }

    .activites-cards img {
        height: 141px;
    }

    .activites {
        height: auto;
    }

    footer {
        flex-direction: column;
        height: auto;
        gap: 50px;
        padding: 30px 20px;
    }

    .footer-list {
        width: 100%;
        padding: 0;
    }
}